################################
### config file to run  xAna ###
################################

## see ConfigReader.h for options

### output directory
outputDir: /afs/cern.ch/work/f/fcouderc/public/diphoton2012_CiCpf_cms53x_v0/data/

### analysis type is MVA, baseline
analysisType: baselineCiC4PF
setup: Prompt2012_ichep

### energy scale correction
energyScaleCorrection: ecalCalibFiles/EnergyScale2012_hcp_12fb.txt

### luminosity
luminosity: 12.20

### potential pt cuts
pt1cut: 33.3
pt2cut: 25

### electron veto to run other , invert the veto
invertElectronVeto: 0

### test
doTest: 0

### syst on energy resolution oversmearing: -1, 0, +1 sigma
systEnergyResolution: 0

### PU Jet ID for 2012 analysis
doPUJetID: 1

### number of evts per job
### when running on large ntuples, it allows to split
### to input (several jobs attack the same file at different places)
### default:  -1 (do all evts in roottuple)
nEvtsPerJob: 500000

