################################
### config file to run  xAna ###
################################

## see ConfigReader.h for options

### output directory
outputDir: /afs/cern.ch/work/h/hebda/HggHbb/Trees/MC/

### analysis type is MVA, baseline
analysisType: MVA
setup: Prompt2012_ichep

### energy scale correction
energyScaleCorrection: ecalCalibFiles/EnergyScale2012_Moriond_19fb.txt

### luminosity (fb-1)
luminosity: 19.6

### potential pt cuts
pt1cut: 33.3
pt2cut: 25

### electron veto to run other , invert the veto
invertElectronVeto: 0

### VBF mva categorisation
VBFmvaCategory: 1

### test
doTest: 0

### syst on energy resolution oversmearing: -1, 0, +1 sigma
systEnergyResolution: 0

### PU Jet ID for 2012 analysis
doPUJetID: 1

### number of evts per job
### when running on large ntuples, it allows to split
### to input (several jobs attack the same file at different places)
### default:  -1 (do all evts in roottuple)
nEvtsPerJob: 126000

